.slider__title {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 54px;
    line-height: 120%;
    text-transform: uppercase;
    margin-bottom: 60px;
}

.slider__container {
    position: relative;
}

.slider {
    overflow: hidden;
    padding-left: 20px;
}

.slider__list {
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
    width: max-content;
    transition: all 0.5s ease-out;
}

.slide {
    width: var(--cardSize);
}

.slider__btns {
    display: flex;
    align-items: center;
    gap: 14px;
    position: absolute;
    right: 0;
    top: -25%;
}

.btn__round {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    transition: all 1s ease;
    background: url('../img/arrow.svg') no-repeat center, var(--second-black);
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn__round.left {
    transform: rotate(180deg);
}

.btn__round:hover {
    background: url('../img/arrow.svg') no-repeat center, var(--yellow);
}

.btn__round:disabled {
    background: url('../img/arrow.svg') no-repeat center, var(--gray);
}

@media (max-width: 1000px) {
    .slider__container {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }
    .slider__btns {
        position: static;
        align-self: center;
    }
}

@media (max-width: 820px) {
    .container {
        --padding: 40px;
    }

    .slider__title {
        font-size: 44px;
    }
}

@media (max-width: 520px) {
    .container {
        --padding: 20px;
    }

    .slider__title {
        font-size: 36px;
    }
}
